// colors
$main: #292B43;
$primary: #EA3EF7;
$primary-dark: #A51784;
$primary-light: #F96BD8;
$black: #000;
$white: #fff;
$gray: #f8f8f8;
$green: #97f53b;
// fonts
$mainFont: 'Roboto', sans-serif;
$mainFontCond: 'Roboto Condensed', sans-serif;

$riffic: 'Riffic Free', sans-serif;

