.header {
  background: #00000063;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  &.dark {
    background: #00000039;
  }
  &.active {
    background-color: $black;
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
    box-shadow: 0px 4px 4px 0px #00000021;
    background-color: $black;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    &-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 260px;
      img {
        width: 100%;
        &.mobile {
          display: none;
        }
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      padding: 20px 0;
      &-logo {
        width: 60px;
        img {
          &.mobile {
            display: block;
          }
          &.desktop {
            display: none;
          }
        }
      }
    }
  }
}
// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      padding: 15px 0;
      &-logo {
        width: 50px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
